.main {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__shadow {
    position: absolute;
    z-index: -1;
    filter: blur(50px);
    top: -100px;
  }
  @media screen and (min-width: 1440px) {
    &__container {
      display: flex;
      flex-direction: unset;
      justify-content: space-between;
    }
    &__shadow {
      top: -25%;
      width: 800px;
    }
  }
}

.main-text {
  max-width: 628px;
  &__title {
    font-family: "VisueltProMedium";
    font-size: var(--h1-title);
    margin-bottom: 40px;
  }
}

.rocket {
  max-width: 620px;
  &__img {
    width: 100%;
  }
}
