@font-face {
  font-family: "VisueltProRegular";
  src: url(~fonts/VisueltPro-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "VisueltProMedium";
  src: url(~fonts/VisueltPro-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "VisueltProBold";
  src: url(~fonts/VisueltPro-Bold.ttf);
  font-weight: 700;
}
