* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

//colors

:root {
  --body-color: #f2f2f2;
  --white: #fff;
  --black: #1a1a1a;
  --blue: #4754eb;
  --grey: #808080;
}

//fonts Sizes

:root {
  --h1-title: 2.25em; //36px
  --h2-title: 1.625em; //26px
  --h3-title: 1.125em; //18px
  --text: 0.875em; //14px
  --description: 1, 333333333333333em; //12px
  @media screen and (min-width: 768px) {
    --h1-title: 3.5em; //56px
    --h2-title: 2em; //36px
    --h3-title: 1.5em; //24px
    --text: 1.125em; //18px
  }
}

.h1-title {
  font-size: var(--h1-title);
  font-family: "VisueltProMedium";
}

.h2-title {
  font-size: var(--h2-title);
  font-family: "VisueltProMedium";
  color: var(--black);
  @media screen and (min-width: 769px) {
    text-align: center;
  }
  @media screen and (min-width: 1440px) {
    text-align: unset;
  }
}
.h3-title {
  font-size: var(--h3-title);
  font-family: "VisueltProMedium";
  color: var(--black);
}
.text {
  font-size: var(--text);
  color: var(--grey);
  line-height: 1.357142857142857em; //19px
}

//layout

body {
  font-family: "VisueltProRegular";
  background-color: var(--body-color);
  font-size: 16px;
  padding: 8px;
}

.container {
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    padding: 0 50px;
  }
}

.frame {
  background-color: var(--white);
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.65);
  overflow: hidden;
  position: relative;
}

//btn

.btn {
  padding: 12px 24px;
  background-color: var(--blue);
  border-radius: 16px;
  font-size: var(--text);
  color: var(--white);
  font-family: "VisueltProMedium";
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    color: var(--blue);
    background-color: var(--white);
  }
}

//form mail

.form-mail {
  max-width: 465px;
  height: 56px;
  background-color: rgba($color: white, $alpha: 0.5);
  box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
  border-radius: 16px;
  display: flex;
  padding: 8px;
  margin-bottom: 20px;
  &__mail {
    background-color: transparent;
    outline: none;
    border: 0;
    padding-left: 5px;
    color: var(--grey);
    width: 100%;
  }
  &__submit {
    background-color: var(--white);
    border: 0;
    border-radius: 16px;
    padding: 10px 24px;
    color: var(--blue);
    cursor: pointer;
  }
}

.confirm {
  font-size: var(--description);
  color: var(--grey);
  max-width: 354px;
  display: block;
  &-blue {
    color: var(--blue);
  }
}
